<!-- <!DOCTYPE html> -->
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Resume of Nazmul Islam Ananto</title>
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<link rel="stylesheet" href="{{site.baseurl}}{%- link assets/css/resume.css -%}">
</head>

<body>

	<div class="resume">
		<div class="resume_left">
			<div class="resume_profile">
				<img src="assets/img/profile-pic/ananto-dp.jpg" alt="profile_pic" />
			</div>
			<div class="resume_content">
				<div class="resume_item resume_info">

					<ul>
						<li>
							<div class="icon">
								<i class="fas fa-home"></i>
							</div>
							<div class="data">
								250/3, Muradpur <br> Hazi Lal Mia Sarkar Road <br> Jurain, Dhaka - 1204
							</div>
						</li>
						<li>
							<div class="icon">
								<i class="fas fa-phone-volume"></i>
							</div>
							<div class="data">
								(+880)1675340238
							</div>
						</li>
						<li>
							<div class="icon">
								<i class="fas fa-at"></i>
							</div>
							<div class="data">
								nazmulislamananto@gmail.com
							</div>
						</li>
						<li>
							<div class="icon">
								<i class="fab fa-linkedin"></i>
							</div>
							<div class="data">
								/nazmulislamananto
							</div>
						</li>
						<li>
							<div class="icon">
								<i class="fab fa-github"></i>
							</div>
							<div class="data">
								/niananto
							</div>
						</li>
						<li>
							<div class="icon">
								<i class="fas fa-globe"></i>
							</div>
							<div class="data">
								niananto.github.io
							</div>
						</li>
					</ul>
				</div>
				<br>
				<div class="resume_item resume_abouts">
					<div class="title">
						<p class="bold">About Me</p>
					</div>
					<p align="justify" style="color:white;">I am a passionate and enthusiastic learner carrying the
						emblem of positivity and motivation. I work diligently both individually and in teams generating
						a plethora of creative ideas. <br><br>
						I always go the extra mile to deliver the most creative, innovative and top-notch performance.
						<br><br>I am always inspired by career growth opportunities and can easily adapt to a new
						environment.
					</p>
				</div>
				<br>
				<div class="resume_item resume_strengths">
					<div class="title">
						<p class="bold">Strengths</p>
					</div>
					<ul>
						<li>• Public Speaking </li>
						<li>• Leadership </li>
						<!-- <li>• Creative Writing </li> -->
						<li>• Problem Solving </li>
						<li>• Interpersonal Communication</li>
						<li>• Decision Making</li>
						<li>• Proofreading</li>
						<li>• Strategic Thinking</li>
						<!-- <li>• Diligence</li> -->
					</ul>
				</div>
				<br>
				<div class="resume_item resume_strengths">
					<div class="title">
						<p class="bold">Skills</p>
					</div>
					<ul>
						<li>• C++, Java, Python </li>
						<li>• HTML5, CSS, Bootstrap </li>
						<li>• NodeJS, ReactJS, Material UI </li>
						<li>• Oracle, PostgreSQL, MongoDB </li>
					</ul>
				</div>
			</div>
		</div>
		<div class="resume_right">
			<div class="resume_item resume_about">
				<div class="title">
					<p class="bold" style="font-size:30px;">Md. Nazmul Islam Ananto</p><br><br>
					<p class="regular" style="font-size:20px;"> 4th Year Undergraduate, CSE, BUET </p>
				</div>
			</div>
			<div class="resume_item resume_education">
				<div class="title">
					<p class="bold">Education</p>
				</div>
				<br>
				<ul>
					<li>
						<div class="date">2019-2024 &emsp;&nbsp;&nbsp;</div>
						<div class="info">
							<p class="semi-bold">Computer Science and Engineering<br> Bangladesh University of
								Engineering and Technology</p>
							<p>Enrolled in BSc Program <br> Currently in last Semester with a CGPA of 3.90</p>
						</div>
					</li>
					<li>
						<div class="date">2016-2018 &emsp;&nbsp;</div>
						<div class="info">
							<p class="semi-bold">Notre Dame College, Dhaka</p>
							<p>HSC from Science background with <br> General grade Scholarship (5.0 GPA)</p>
						</div>
					</li>
					<li>
						<div class="date">2008-2016 &emsp;</div>
						<div class="info">
							<p class="semi-bold">Ideal School & College, Dhaka - 1000</p>
							<p>SSC from Science background with <br> General grade Scholarship (5.0 GPA)</p>
						</div>
					</li>
				</ul>
			</div>
			<!-- <div class="resume_item resume_skills">
				<div class="title">
					<p class="bold">skills</p>
				</div>
				<br>
				<ul>
					<li>
						<div class="skill_name">
							C/C++
						</div>
						<div class="skill_progress">
							<span style="width: 92%;"></span>
						</div>
						<div class="skill_per">92%</div>
					</li>
					<li>
						<div class="skill_name">
							Java
						</div>
						<div class="skill_progress">
							<span style="width: 90%;"></span>
						</div>
						<div class="skill_per">90%</div>
					</li>
					<li>
						<div class="skill_name">
							Python
						</div>
						<div class="skill_progress">
							<span style="width: 87%;"></span>
						</div>
						<div class="skill_per">87%</div>
					</li>
					<li>
						<div class="skill_name">
							Web Development (Express & React)
						</div>
						<div class="skill_progress">
							<span style="width: 83%;"></span>
						</div>
						<div class="skill_per">83%</div>
					</li>
					<li>
						<div class="skill_name">
							Database
						</div>
						<div class="skill_progress">
							<span style="width: 82%;"></span>
						</div>
						<div class="skill_per">82%</div>
					</li>
					<li>
						<div class="skill_name">
							Data Structure
						</div>
						<div class="skill_progress">
							<span style="width: 90%;"></span>
						</div>
						<div class="skill_per">90%</div>
					</li>
					<li>
						<div class="skill_name">
							Word, Powerpoint & Excel
						</div>
						<div class="skill_progress">
							<span style="width: 85%;"></span>
						</div>
						<div class="skill_per">85%</div>
					</li>
				</ul>
			</div> -->
			<div class="resume_item resume_project">
				<div class="title">
					<p class="bold">Academic Projects</p>
				</div>
				<ul>
					<li>
						<!-- <div class="date">Maps 'n Bags&emsp;&emsp;&emsp;&emsp;</div> -->
						<div class="info">
							<p class="semi-bold">- Maps 'n Bags</p>
							<!-- <p class="semi-bold">[Software Development Project]</p> -->
							<p align="justify">An Itinerary Planning System with Trip Suggestions, Travel Tracking, Budhet
								Management and Travel Diary. Developed with ExpressJS, Material UI, PostgreSQL, Firebase and Selenium.</p>
							<a href="https://github.com/maps-n-bag" target="_blank">[Org]</a>
							<a href="https://github.com/maps-n-bag/maps-n-bags-frontend" target="_blank">[Frontend]</a>
							<a href="https://github.com/maps-n-bag/maps-n-bags-backend" target="_blank">[Backend]</a>
							<a href="https://github.com/maps-n-bag/maps-n-bags-scraper" target="_blank">[Google Maps Scraper]</a>
						</div>
					</li>
					<li>
						<!-- <div class="date">Creative Production Management</div> -->
						<div class="info">
							<p class="semi-bold">- Creative Production Management</p>
							<!-- <p class="semi-bold">[Information System Design Project]</p> -->
							<p align="justify">As the name suggests, it is a Production Management System for a Creative
								Agency. System design with BPMN, Mock UI, ERD, Sequence & State Diagrams.</p>
							<a href="https://github.com/niananto/Creative-Production-Management" target="_blank">[Resources]</a>
							<a href="https://github.com/niananto/Creative-Production-Management-Website" target="_blank">[Estimation Module]</a>
						</div>
					</li>
					<li>
						<!-- <div class="date">Red Light Green Light</div> -->
						<div class="info">
							<p class="semi-bold">- Red Light Green Light</p>
							<!-- <p class="semi-bold">[Microcontroller Project]</p> -->
							<p align="justify">A Traffic Light Controller with adaptive car count and train detection. Developed with
								Arduino.</p>
							<a href="https://youtu.be/9mWLkRmKQEA" target="_blank">[Video]</a>
							<a href="https://github.com/niananto/red-light-green-light" target="_blank">[Code]</a>
						</div>
					</li>
					<li>
						<!-- <div class="date">Withered Away&emsp;&emsp;&emsp;&emsp;</div> -->
						<div class="info">
							<p class="semi-bold">- Withered Away</p>
							<!-- <p class="semi-bold">[Database Project]</p> -->
							<p align="justify">An Old Home Management System developed with ExpressJS, Material UI and Oracle.
								Later adapted for PostgreSQL.</p>
							<a href="https://youtu.be/2lR1TBinnHY" target="_blank">[Video]</a>
							<a href="https://github.com/niananto/withered-away-back" target="_blank">[Backend]</a>
							<a href="https://github.com/IshikaIme/withered-away-front" target="_blank">[Frontend]</a>
							<a href="https://github.com/niananto/withered-away-back-postgres" target="_blank">[PostgreSQL Adaptation]</a>
						</div>
					</li>
					<li>
						<!-- <div class="date">Four In A Row</div> -->
						<div class="info">
							<p class="semi-bold">- Four In A Row</p>
							<!-- <p class="semi-bold">[Microcontroller Project]</p> -->
							<p align="justify">The game 'Connect 4' developed with C++ in iGraphics</p>
							<a href="https://github.com/niananto/FIR-for-everyone" target="_blank">[Game]</a>
							<a href="https://github.com/niananto/four-in-a-row" target="_blank">[Code]</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="resume_item resume_work">
				<div class="title">
					<p class="bold">Extra Curricular Activities</p>
				</div><br>
				<ul>
					<li>
						<div class="date">Current &emsp;&emsp;&emsp;&emsp;&emsp;</div>
						<div class="info">
							<p class="semi-bold">Director (Marketing & Communication), Buet Cyber Security Club</p>
							<p>Content Writer, Web Developer</p><br>
							<p class="semi-bold">Volunteer, Buet System Analysis, Design and Development Community
								(BSADD)</p>
							<p>Content Writer, Web Developer</p>
						</div>
					</li>
					<li>
						<div class="date"> Former &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</div>
						<div class="info">
							<p class="semi-bold">President of Writing and Publication, Notre Dame English Club</p>
							<p>Worked as an Editor in 8 publications, adjudicated 5+ competitions, organized 3 National
								English Carnivals
								and supervised over 100 volunteers in two of them, arranged more than 12 Intra College
								Workshops, Seminars
								and Competitions, managed more than 22 sponsors for the club with a monetary value of
								approximately 1.4 million.
								All that in less than 3 years.<br>
								Publications : Odyssey 5th Edition (Aug 2019), The Glowing Wick 2019 (Feb 2019), Odyssey
								4th Edition (Jul 2018),
								The Glowing Wick 2018 (Feb 2018), Odyssey 3rd Edition (May 2017)
							</p><br>
							<p class="semi-bold">Volunteer, Ideal Debating Club</p>
							<p>Worked as a Sub-Editor on a publication. Part-time debater.<br>
								Publications : Oritro 11th Edition (2016)
							</p>
						</div>
					</li>
				</ul>
			</div>
			<!-- <div class="resume_item resume_award">
				<div class="title">
					<p class="bold">Awards</p>
				</div>
				<ul>
					<li>
						<div class="info">
							<p class="semi-bold">Champions of PWK Nationals 6.0 (2020)</p>
							<p>- Case solving, developing creative ideas etc.</p><br>
							<p class="semi-bold">Second Runners up in Optimity business Competition (2018)</p>
							<p>-Forming marketing strategies, market analysis, competitor analysis, SWOT analysis,
								giving presentations, slide making etc.</p><br>
							<p class="semi-bold">Debate Adjudicator (2018 Onwards)</p>
							<p>BRAC Genders Debate 2018, SIDT 2019, Summerfield 2019</p><br>
							<p class="semi-bold">Debater (2018 Onwards)</p>
							<p>IUT Professionals 2018, BUP IV Professionals 2019, IUB Ascension 2019</p><br>
							<p class="semi-bold">Best Delegate , Outstanding Delegate (2016-2018)</p>
							<p>SMUN 2016, AIIMUN 2016</p><br>
						</div>
					</li>
				</ul>
			</div> -->
		</div>
	</div>
</body>

</html>